/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Header */
  header {
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  header a {
    text-decoration: none;
    color: brown;
  }
  
  /* Table */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Section */
  section {
    height: calc(100vh - 60px); /* Subtract header height */
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Container */
  .Container {
    text-align: center;
  }
  
  .Container img {
    height: 200px;
    border-radius: 50%;
  }
  
  .Container h2 {
    margin-top: 20px;
    font-size: 2.5em;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .Container p, .Container ul {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  /* Footer */
  footer {
    height: 40px;
    background-color: #333;
    color: #fff;
    line-height: 40px;
    text-align: center;
  }