<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <header>
        <h1>Par darbu</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/socials/">Socials</a></li>
                <li><a href="/info/">Info</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <p>Šajā darbā tiks izveidota web lapa ar 4 apakšlapām: "home" lapu, apraksta lapu, sociālo mediju lapu un lapu, kurā ir izvadīta informācijas no ārējas saites.</p>
    </section>
    <footer>
        <p>&copy; 2024 </p>
    </footer>
</body>
</html>

