<!--Izveidoju lapu, kurā tiks aprakstīta, kas darbā ir sastopams-->
<!DOCTYPE html>
<html>
<head>
    <title>Par darbu</title>
    <!--Savienoju HTML lapu ar CSS kodu-->
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <header>
        <h1>Par darbu</h1>
        <nav>
            <ul>
                <!--Navigācijas opcijas-->
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/socials/">Socials</a></li>
                <li><a href="/info/">Info</a></li>
                <li><a href="/APInews/">APInews</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Šajā darbā tiks parādīti šī brīža pasaules ziņu virsraksti izmantojos skrāpēšanas metodi, kā  arī iespēju apskatīt šo ziņu pilno rakstu, uzspiežot uz opcijas.</p>
    </main>
    <footer>
        <p>&copy; Ričards Tarvids 12.b 2024 </p>
    </footer>
</body>
</html>