<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <header>
        <h1>Sveicināti manā Flask web lapā</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/socials/">Socials</a></li>
                <li><a href="/info/">Info</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>{{ title }}</h2>
        <p>Skola: Tukuma 2. vidusskola</p>
        <p>Darba autors: Ričards Tarvids</p>
        <p>12.b klase</p>
        </p>
    </section>
    <footer>
        <p>&copy; 2024 </p>
    </footer>
</body>
</html>


