<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <header>
        <h1>Sveicināti manā Flask programmā.</h1>
        <nav class="tab-bar">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/socials/">Socials</a></li>
            <li><a href="/info/">Info</a></li>
            <li><a href="/APInews/">APInews</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>&copy; Ričards Tarvids 12.b 2024 </p>
</footer>
</body>
</html>