<!DOCTYPE html>
<html>
<head>
    <title>My First Flask Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Ardit's web app</h1>
            <nav>
                <ul class="menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('socials') }}">Socials</a></li>
                    <li><a href="{{ url_for('info') }}">Info</a></li>
                    <li><a href="{{ url_for('headlines_api') }}">API Headlines</a></li>
                    <li><a href="{{ url_for('headlines_export') }}">Exported Headlines</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

