<!DOCTYPE html>
<html>
<head>
    <title>Socials</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <header>
        <h1>Our Socials</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/socials/">Socials</a></li>
                <li><a href="/info/">Info</a></li>
                <li><a href="/APInews/">APInews</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Contact Us!</h2>
        <p>Here you can find contact information for the author of the project.</p>
    </main>
    <footer>
    </footer>
</body>
</html>