<!DOCTYPE html>
<html>
<head>
    <title>Sociālie mediju</title>
    <!--Savienoju lapu ar css failu-->
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <header>
        <h1>Sazināšanās opcijas</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/socials/">Socials</a></li>
                <li><a href="/info/">Info</a></li>
                <li><a href="/APInews/">APInews</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Sazinies ar mums!</h2>
        <p>Šeit Jūs varat redzēt saites veidotāja kontaktinformāciju:</p>
        <!--Ievietoju lapā .png failus un kontaktinformāciju-->
        <p>Eklase - Ričards Tarvids 12.b</p> <img src="{{ url_for('static', filename='images/eklase.png') }}" alt="Image">
        <p>Whatsapp - 22456910 (Piemēra numurs)</p> <img src="{{ url_for('static', filename='images/Whatsap.png') }}" alt="Image">
    </main>
    <footer>
        <p>&copy; Ričards Tarvids 12.b 2024 </p>
    </footer>
</body>
</html>